<aside id="sidebar">
    <h1>Popular on Medium</h1>
    <hr />
    <ol id="small-articles">
        <li class="small-article">
            <h2 class="small-article-title"><%= truncate "Understanding Higher-Order Functions in JavaScript", length: 40 %></h2>
            <p class="small-article-author">Jason Kim</p>
            <p class="small-article-created-at">Oct 24, 2018</p>
            <p class="small-article-number">01</p>
        </li>
        <li class="small-article">
            <h2 class="small-article-title"><%= truncate "Understanding Higher-Order Functions in JavaScript", length: 40 %></h2>
            <p class="small-article-author">Jason Kim</p>
            <p class="small-article-created-at">Oct 24, 2018</p>
            <p class="small-article-number">02</p>
        </li>
        <li class="small-article">
            <h2 class="small-article-title"><%= truncate "Understanding Higher-Order Functions in JavaScript", length: 40 %></h2>
            <p class="small-article-author">Jason Kim</p>
            <p class="small-article-created-at">Oct 24, 2018</p>
            <p class="small-article-number">03</p>
        </li>
        <li class="small-article">
            <h2 class="small-article-title"><%= truncate "Understanding Higher-Order Functions in JavaScript", length: 40 %></h2>
            <p class="small-article-author">Jason Kim</p>
            <p class="small-article-created-at">Oct 24, 2018</p>
            <p class="small-article-number">04</p>
        </li>
        <li class="small-article">
            <h2 class="small-article-title"><%= truncate "Understanding Higher-Order Functions in JavaScript", length: 40 %></h2>
            <p class="small-article-author">Jason Kim</p>
            <p class="small-article-created-at">Oct 24, 2018</p>
            <p class="small-article-number">05</p>
        </li>
    </ol>
</aside>
