<header>
    <nav class="nav-title">
        <div class="nav-title-wrapper">
            <a href="<%= root_path %>">
                <% if level == :admin %>
                    <h1>Medium / Manager</h1>
                <% else %>
                    <div class="menu-icon">
                        <i class="fab fa-medium"></i>
                    </div>
                <% end %>
            </a>
            <div class="right-nav">
                <div id="search-bar" class="menu-item">
                    <i class="fas fa-search"></i>
                    <input id="input-search" placeholder="Search Medium">
                </div>
                <a href="<%= contact_path %>">
                    <div class="menu-item">
                        <i class="far fa-envelope"></i>
                    </div>
                </a>
                <a href="<%= about_path %>">
                    <div class="menu-item">
                        <i class="fas fa-info"></i>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <nav class="nav-category">
        <div class="center-nav">
            <% if level == :admin %>
                <%= link_to "Posts", admin_posts_path, class: "category #{params[:controller] == 'admin/posts' ? 'active' : ''}" %>
                <%= link_to "Categories", admin_categories_path, class: "category #{params[:controller] == 'admin/categories' ? 'active' : ''}" %>
                <%= link_to "Users", admin_users_path, class: "category #{params[:controller] == 'admin/users' ? 'active' : ''}" %>
            <% else %>
                <%= link_to "<", "#", class: "category" %>
                <% categories.each do |category| %>
                    <%= link_to category[:name], "#", class: "category" %>
                <% end %>
                <%= link_to ">", "#", class: "category" %>
            <% end %>
        </div>
    </nav>
</header>
