<!DOCTYPE html>
<html>

<head>
    <title>EduBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw== sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
</head>

<body>
    <%= render 'partials/navbar', level: :admin %>
    <% if flash[:notice] || flash[:alert] %>
        <div class="main" id="flash">
            <section>
                <% if flash[:notice] %>
                    <h1><%= flash[:notice] %></h1>
                <% end %>
                <% if flash[:alert] %>
                    <h1><%= flash[:alert] %></h1>
                <% end %>
            <section>
        </div>
    <% end %>
    <%= yield %>
    <%= render 'partials/footer' %>
</body>

</html>