<div class="main">
    <section>
        <h1><%= @page_title %></h1>
        <%= form_with model: [:admin, @post] do |f| %>
            <% if @post.errors.any? %>
                <% @post.errors.full_messages.each do |msg| %>
                    <h2><%= msg %></h2>
                <% end %>
            <% end %>

            <table class="table-for-form">
                <tr>
                    <td><%= f.label :title %></td>
                    <td><%= f.text_field :title %></td>
                </tr>

                <tr>
                    <td><%= f.label :category %></td>
                    <td><%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "Select One"}) %></td>
                </tr>

                <tr>
                    <td><%= f.label :author %></td>
                    <td><%= f.collection_select(:user_id, @users, :id, :name, {prompt: "Select One"}) %></td>
                </tr>

                <tr>
                    <td><%= f.label :image %></td>
                    <td><%= f.file_field :image %></td>
                </tr>

                <tr>
                    <td><%= f.label :tags %></td>
                    <td><%= f.text_area :tags %></td>
                </tr>

                <tr>
                    <td><%= f.label :body %></td>
                    <td><%= f.rich_text_area :body %></td>
                </tr>
            </table>

            <div>
                <%= f.submit %>
            </div>

            <div>
                <%= link_to 'Cancel', admin_posts_path %>
            </div>
        <% end %>
    </section>
</div>

