<div class="main">
    <section>
        <h1>Manage Categories</h1>
        <%= link_to 'Create New', new_admin_category_path, class: "create-button" %>
        <table>
            <tr>
                <th>Category Title</th>
                <th>Created Date</th>
                <th>Actions</th>
            </tr>
            <% @categories.each do |category| %>
                <tr>
                    <td><%= category.name %></td>
                    <td><%= category.created_at.to_time.strftime("%B %e at %l:%M %p") %></td>
                    <td><%= link_to 'Edit', edit_admin_category_path(category), class: "link" %>       <%= link_to 'Delete', admin_category_path(category), method: :delete, data: {confirm: "Are you sure?"}, class: "link" %></td>
                </tr>
            <% end %>
        </table>
        <%= will_paginate @categories, class: "page"%>
    </section>
</div>