
<div class="main">
    <section>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-author">Jason Kim</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
    </section>
    <%= render "partials/aside" %>
</div>