<div class="main">
    <section class="content">
        <article>
            <h1><%= @post.title %></h1>
            <div class="author-info">
                <%= image_tag 'author_1.png', alt: "Author" %>
                <div class="author-detail">
                    <h4><%= @post.user.name %></h4>
                    <h4><%= @post.created_at.to_time.strftime("%B %e at %l:%M %p") %></h4>
                </div>
            </div>
            <% if @post.image.attached? %>
                <%= image_tag @post.image, class: "main-img" %>
            <% else %>
                <%= image_tag 'https://placekitten.com/1000/800', class: "main-img" %>
            <% end %>
            <div class="article-content"><%= @post.body %></div>
        </article>
    </section>
</div>

<%= render 'partials/comments' %>