<div class="main">
    <section>
        <h1>Manage Users</h1>
        <%= link_to 'Create New', new_admin_user_path, class: "create-button" %>
        <% if @users.exists? %>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date Created</th>
                    <th>Actions</th>
                </tr>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.created_at.to_time.strftime("%B %e at %l:%M %p") %></td>
                        <td><%= link_to 'Edit', edit_admin_user_path(user), class: "link" %>       <%= link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "link" %></td>
                    </tr>
                <% end %>
            </table>
            <%= will_paginate @users, class: "page"%>
        <% else %>
            <h2>There is no user</h2>
        <% end %>
    </section>
</div>